.primary{
background-color: rgb(38, 12, 185);
color: beige;
padding: 0.2em  0.5em;
border-radius: 0.3em;
border: none;
margin: 0.1em;
}
table{
    width: 100%;
    border-collapse:collapse ;
    th{
        background-color:rgb(109, 109, 109) ;
        color: white;
        text-align: right;
    }
    th,td{
        padding: 0.2em;
    }
    th{
 border-bottom:1px solid rgb(145, 145, 145) ;
    }
    tr{
        
        border-bottom:1px solid rgb(145, 145, 145) ;

    }

        tr:nth-of-type(2n+1){
background-color: lightgray;
        }
       
    }