@if (state=='list') {
<button (click)="add()" class="primary">افزودن</button>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>عنوان</th>
            <th>نویسنده</th>
            <th>ناشر</th>
            <th>قیمت</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.writer}}</td>
            <td>{{item.publisher}}</td>
            <td>{{item.price}}</td>
            <td>
                <button (click)="edit( item)" class="primary">ویرایش</button>
                <button (click)="remove( item)" class="primary">حذ ف</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}
@else{
    @if (state=='remove') {
    <div class="alert">
        آیا از حذف این کتاب اطمینال دارید؟
    </div>
}
<form (ngSubmit)="save()">
    <!--@if(state!='edit'){-->
    <div>
        <input [disabled]="state=='edit'||  state=='remove'" [(ngModel)]="item.id" id="id" name="id" type="number"
            placeholder="شناسه">
    </div>
    <!--}-->
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.title" id="title" name="title" type="text"
            placeholder="عنوان">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.writer" id="writer" name="writer" type="text"
            placeholder="نویسنده">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.publisher" id="publisher" name="publisher" type="text"
            placeholder="ناشر">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.price" id="price" name="price" type="number"
            placeholder="قیمت">
    </div>
    <div>
        <button class="primary" type="submit"> تایید </button>
        <button (click)="cancel()" class="primary" type="button"> انصراف </button>
    </div>
</form>
}