/* You can add global styles to this file, and also import other style files */
body{
    background-color: crimson;
    margin: 0;
}
@font-face {
    font-family:persion ;
    src: url('/fints/persion.woff2');
}
*{
    font-family: persion;
}
.alert{
    background-color: rgb(223, 162, 162);
    border: 1px salmon;
    padding: 1em;
    border-radius: 0.2em ;
    margin: 1em;
    text-align: center;
}